body {
	background-color: #FFC2AA;
}

p {
	padding-left: 1em;
}
.header img {
	width: 100%;
	margin: auto;
	max-width:1000px;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 5px;
}
.container { 
	width: 100%;
	max-width: 800px;
	margin:auto;
	background-color: #D4886A;
	border: 1px dotted;
}
.content {
	background-color: #AA5939;
	border: 2px solid black;
	border-radius: 5px;
}
.photos {
	border: 2px solid green;
	border-radius: 5px;
	margin-right: 35px;
}
.navbar {
	background-color: #551800;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 5px;
}
.video {
	margin: 0 auto;
	text-align: center;
}